@import '../../assets/styles/variables.scss';
@import '../../assets/styles/global.scss';

.comments {
  padding: 17px 30px;
  background-color: $btnBg;
  width: 379px;
  border-radius: 20px;
  box-sizing: border-box;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
.commentsTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  color: $text;
  padding-bottom: 13px;
  margin-bottom: 22px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 379px;
    height: 1px;
    background-color: $black;
    bottom: 0;
    left: -30px;
  }
}
.commentsItem {
  display: flex;
  align-items: center;
  gap: 15px;
}
.userName {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: $black;
}
.comment {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $text;
}
