@import '../../assets/styles/variables.scss';
@import '../../assets/styles/global.scss';

.post {
  border-radius: 20px;
  background-color: $btnBg;
  max-width: 700px;
  min-height: 530px;
  //   height: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.img {
  > img {
    width: 700px;
    object-fit: cover;
    max-height: 218px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}
.postInfo {
  padding: 20px 40px 0 40px;
}
.postTitle {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: $black;
  margin-bottom: 15px;
}
.tagsList {
  display: flex;
  gap: 5px;
  > li {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: $text;
  }
}
.postDetails {
  margin-top: 60px;
  display: flex;
  gap: 40px;
  li {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: $black;
    display: flex;
    gap: 5px;
    align-items: center;
  }
}
